ul {
/*    list-style-type: none;*/
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    background-color: rgba(26,89,120,0.9);
padding: 2px;
color: #000;
    text-decoration: none;
    border: 1px solid white;

}
a{
    color: white;
}
