<html ng-app="app">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Hassle-Free-Joining-form-builder</title>
    <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="angular-form-builder-master/example/site.css"/>
    <link type="text/css" rel="stylesheet" href="angular-form-builder-master/dist/angular-form-builder.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="angular-form-builder-master/dist/angular-form-builder.js"></script>
    <script type="text/javascript" src="angular-form-builder-master/dist/angular-form-builder-components.js"></script>
    <script type="text/javascript" src="//kelp404.github.io/angular-validator/dist/angular-validator.min.js"></script>
    <script type="text/javascript" src="//kelp404.github.io/angular-validator/dist/angular-validator-rules.min.js"></script>
    <script type="text/javascript" src="angular-form-builder-master/example/demo.js"></script>
</head>
<body class="container" ng-controller="GetFilledUserForm">
    <div class="row">
        <h2>Form</h2>
        <hr/>
        <form class="form-horizontal">
            <div ng-model="input" fb-form="default" fb-default="defaultValue"></div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <input type="submit" ng-click="submit()" class="btn btn-default"/>
                </div>
            </div>
        </form>
    </div>
<div class="row">
    <div class="col-md-12 footer"></div>
</div>

</body>
</html>