<!doctype html>
<html ng-app="app">
<head>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css" />
        <link type="text/css" rel="stylesheet" href="css/menu.css" />
<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript">
        jQuery(document).ready(function(){
        var x =document.cookie;
             var username = (x.split("user=")[1]);
             var userid = x.split("uid=")[1];
             var type = x.split("type=")[1];

            if(username == null || username == 'undefined' || userid == null  || userid == 'undefined') {
                    window.location.href = "http://localhost:3000/jobseeker.html";
             }
             if((username != null && username.split(';')[0] == 'undefined') || (userid != null && userid.split(';')[0] == 'undefined')){
                window.location.href = "http://localhost:3000/jobseeker.html";
             }

            jQuery("#astyle2").click(function(){
                document.cookie = "user=undefined;";
                document.cookie = "uid=undefined;";
                 document.cookie = "type=undefined;";
                window.location.href = "http://localhost:3000/jobseeker.html";
                });
        });
        </script>


    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Hassle-Free-Joining-form-builder</title>
    <link type="text/css" rel="stylesheet" href="angular-form-builder-master/dist/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="angular-form-builder-master/example/site.css"/>
    <link type="text/css" rel="stylesheet" href="angular-form-builder-master/dist/angular-form-builder.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="angular-form-builder-master/dist/angular-form-builder.js"></script>
    <script type="text/javascript" src="angular-form-builder-master/dist/angular-form-builder-components.js"></script>
    <script type="text/javascript" src="//kelp404.github.io/angular-validator/dist/angular-validator.min.js"></script>
    <script type="text/javascript" src="//kelp404.github.io/angular-validator/dist/angular-validator-rules.min.js"></script>
    <script type="text/javascript" src="angular-form-builder-master/example/demo.js"></script>
<style type="text/css">
     .btn{
        background-color: rgba(26,89,120,0.9);
        color: white;
        padding: 5px;
        border-color: white;
        font-size: 16px;
    }
</style>
</head>

<body class="container" ng-controller="DemoController">
    <div class="row">
        <h1>Create Form</h1>
        <br/>
<br/>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Builder</h3>
                </div>
                <div fb-builder="default"></div>
            </div>
        </div>

        <div class="col-md-6">
            <div fb-components></div>
        </div>
    </div>

    <div class="row">
        <h2>Form</h2>
        <hr/>
        <form class="form-horizontal">
            <div ng-model="input" fb-form="default" fb-default="defaultValue"></div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <input type="submit" ng-click="submit()" class="btn btn-default"/>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12 footer"></div>
    </div>
</body>
</html>
