<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Hassle-Free-Joining-form-builder</title>
    <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="angular-form-builder-master/example/site.css"/>
    <link type="text/css" rel="stylesheet" href="angular-form-builder-master/dist/angular-form-builder.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="angular-form-builder-master/dist/angular-form-builder.js"></script>
    <script type="text/javascript" src="angular-form-builder-master/dist/angular-form-builder-components.js"></script>
    <script type="text/javascript" src="//kelp404.github.io/angular-validator/dist/angular-validator.min.js"></script>
    <script type="text/javascript" src="//kelp404.github.io/angular-validator/dist/angular-validator-rules.min.js"></script>
    <script type="text/javascript" src="angular-form-builder-master/example/demo.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	if(window.location.href.split('?key=') != null){
		if(window.location.href.split('?key=')[1] == 1){
			$('#login').hide();
		}
	}
});
</script>
</head>
<body class="container" ng-controller="ShowFormController">

<div class="row">
    <h1>Hassle-Free-Joining-form-builder</h1>
    <hr/>
    <div id="wrapper">
        <div id="login" class="animate form">
            <form  method="post" action="http://localhost:3000/sendMail" autocomplete="on">
                <h1></h1>To
                <input type="email" name="to" required/>
                <p class="login button">
                    <input type="submit" value="SendMail" />
                </p>
                <input id="formURL" name="formURL" type="text" value="" style="display: none; margin-left: 20px; margin-top: 5px;"/>
            </form>
        </div>


    </div>
    <script>
        $("#formURL").val(window.location.href);
    </script>

<div class="row">
    <h2>Form</h2>
    <hr/>
    <form class="form-horizontal">
        <div ng-model="input" fb-form="default" fb-default="defaultValue"></div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <input type="submit" ng-click="submit()" class="btn btn-default"/>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12 footer"></div>
</div>

</body>
</html>
